[2014-04-18 15:59] parkr opened #34 "Ads?"
Hey, was just clicking through jekyll issues and came across this site again. I was wondering what the motivation for having ads was – it was a weird experience to have 100-200px of the top of the site taken up by some crazy cat gif trying to sell me something. I figure if Jekyll, GitHub and GitHub Pages are free, there aren't any costs that have to be offset. Just curious.

[2014-09-07 15:47] scotte opened #63 "Please merge backlog of themes"
There is currently a backlog of about 10 pull requests, including mine - can you merge them please? Thanks.

[2014-09-08 06:49] #63 closed, assigned to nobody

[2014-09-13 20:55] GromNaN opened #65 "Broken themes"
Hello,

First, thanks for creating this very useful index of jekyll themes.
Unfortunately, some of them are broken:

* http://jekyllthemes.org/themes/squared/
* http://jekyllthemes.org/themes/hmfaysal-theme/
* http://jekyllthemes.org/themes/herringcove-theme/

[2015-01-09 04:33] manavsehgal opened #84 "Long pending merge requests. Is JekyllThemes alive?"
Hi @mattvh

There seem to be long pending merge/pull requests dating back +2 months on JekyllThemes.

I am wondering if JekyllThemes is alive as a project?

Why don't you seek help from community to keep it current and updated? Or, please consider transferring the project to an active GitHub contributor/maintainer. Maybe https://github.com/jekyll/themes-site (@parkr)...

I can offer to help either

[2015-01-10 03:44] mattvh commented on #84
Sorry, I let it run a little long this time. Usually I merge and deploy in batches, and I ignored GitHub over the extended holiday season. (Plus, there were one or two pending thumbnail changes.) Should be caught up now.

As for parkr's thing, there's an [open issue](https://github.com/mattvh/jekyllthemes/issues/34) about that. I'm not necessarily opposed to the Jekyll project "taking over" with a

[2015-01-10 03:44] #84 closed

[2015-01-11 06:29] manavsehgal commented on #84
Thanks @mattvh - agree that themes.jekyllrb.com does not seem to be a priority. Let's make JekyllThemes the best themes resource there is for GitHub community in the meantime.

[2015-03-24 14:00] jacobtomlinson opened #104 "Sort and filters"
Thanks for this project, I find it really helpful.

Themes on your site are just ordered chronologically, have you thought about giving different sort options?

I imagine it would be possible to sort by number of GitHub stars using JavaScript.

[2015-04-18 20:43] nmenag opened #108 "Add pagination"
Add pagination to  index

[2015-05-26 05:38] Gaohaoyang opened #118 "Please merge themes"
It is a long time after you merged pull requests last time. May be you are busy. If you have time, please merge 13 new themes.

I'd glade to see that.

[2015-05-26 07:24] jacobtomlinson commented on #118
:+1:

[2015-05-28 05:52] Gaohaoyang commented on #118
So where is the author of this repository?
@jacobtomlinson Do you konw?

[2015-05-28 07:23] jacobtomlinson commented on #118
Not a clue I'm afraid, I reached out to him on Twitter but no luck!

[2015-05-28 07:30] jacobtomlinson commented on #118
@mattvh it has been over two months since you last merged any PRs on this repo. If you're struggling to find time then I would like to offer my help, I'm happy to review PRs for you (and ensure the same standards that you do) as well as keeping the site up to date and even implementing some of the things I mentioned in #104.

I'm sure lots of people would agree that this is a good idea!

@mx3m @Ga

[2015-05-28 15:36] Gaohaoyang commented on #118
# Absolutely Agree!

[2015-05-28 20:18] DigitalMindCH commented on #118
we would be pretty glad as well!

[2015-05-29 01:16] karloespiritu commented on #118
Sounds good and I completely agree! :beers:

[2015-05-30 00:14] ariestiyansyah commented on #118
Agree with @jacobtomlinson , We can help maintai this repo.

Anyway if we dont get update from @mattvh I suggest to create new site, I can buy new domain if you need.

cc @mx3m @Gaohaoyang @diezcami @karloespiritu @DigitalMindCH @smallmuou @SpaceG @mushishi78 @nmenag @kevit @qckanemoto @arniekoz @parkr

[2015-05-30 02:49] parkr commented on #118
There was some talk about moving this to the jekyll org, but that has not happened yet.

[2015-05-30 06:11] jacobtomlinson commented on #118
@ariestiyansyah I agree and the same thought had crossed my mind.

@parkr would it be possible to fork this repository into the jekyll org and host it on github pages under themes.jekyllrb.com? Then setup myself, @mattvh and @ariestiyansyah with push access? I'm happy to spend some time updating the website itself and bringing it in line with the rest of the jekyll website.

[2015-05-30 11:11] Phlow commented on #118
I think this would be great. I was lucky that @mattvh updated the website. It gave my theme a lot of boost and interested people. Without jekyllthemes.org that would have not happened. I would advise to make a themes.jekyllrb.com website.

It's the best thing to drive even more people into Jekyll and make them to use it. I am an admirer of how Automattic pushed WordPress by building a community si

[2015-05-30 12:26] diezcami commented on #118
I'd be happy to help out as well - I could help merge pull requests and perhaps tweak the current layout, if you guys don't mind.

[2015-05-30 14:28] Gaohaoyang commented on #118
@ariestiyansyah It's a great idea.

I can help review codes too. We can do together and make it better!
Then Jekyll themes will be popular. What an exciting work!

[2015-05-31 06:03] ariestiyansyah commented on #118
Just requested sub-domain from jekyllrb creator, I'll update when I get good news.

[2015-05-31 06:52] Gaohaoyang commented on #118
Nice

[2015-05-31 08:15] smallmuou commented on #118
Thank you so much!!!

发自我的 iPhone

[2015-05-31 09:17] ariestiyansyah commented on #118
Please check the discussion in this issue https://github.com/jekyll/jekyll/issues/3749

[2015-06-02 10:28] ddbullfrog commented on #118
Absolutely Agree!

[2015-06-02 11:10] ariestiyansyah commented on #118
Since the discussion on https://github.com/jekyll/jekyll/issues/3749 is closed I decided to send email to @parkr asking about subdomain or create new site.

If Jekyll can't provide the subdomain let's poll for new domain and I'll create the repository of it

1. jekyllthemes.com
2. jekyll-themes.org
3. jekyll-themes.com
4 Suggest your idea

[2015-06-02 11:20] Phlow commented on #118
I vote for jekyll-themes.org.

- You can read it well.
- **.COM** stands for commercial... It's more of an open source project, right ;)

[2015-06-02 11:29] smallmuou commented on #118
Agree  jekyll-themes.org

[2015-06-02 11:35] ddbullfrog commented on #118
Agree  jekyll-themes.org

Pawpaw <notifications@github.com>于2015年6月2日星期二写道：

[2015-06-02 11:44] ariestiyansyah commented on #118
I see it's good domain name, I'll buy the doman in Thursday or Friday. At this I try move the code to new repository here https://github.com/ariestiyansyah/jekyllthemes and plan to change the web design. Please start contribute to the new repo.

[2015-06-02 11:52] smallmuou commented on #118
Ok, I will start contribute to the new repo.                             Original Message                             Sender: Rizky Ariestiyansyah<notifications@github.com>Recipient: mattvh/jekyllthemes<jekyllthemes@noreply.github.com>Cc: Pawpaw<lvyexuwenfa100@126.com>Date: Tuesday, Jun 2, 2015 19:45Subject: Re: [jekyllthemes] Please merge themes (#118)I see it's good domain name, I'll buy the dom

[2015-06-02 11:56] jacobtomlinson commented on #118
Yep me too!

[2015-06-02 11:59] jacobtomlinson commented on #118
You should start by pulling in the open PRs from mattvh/jekyllthemes. And it would be good to have more than one person with push access to your repo, to avoid this from happening again.

Could you please give me push access.

[2015-06-02 12:02] ariestiyansyah commented on #118
Done @jacobtomlinson

Pleae move all the conversation to https://github.com/ariestiyansyah/jekyllthemes/issues/2

[2015-06-02 16:04] parkr commented on #118
Did anyone try talking to @mattvh?

[2015-06-02 16:06] ariestiyansyah commented on #118
@parkr Some of us are contacted him but no respond, anyway please respond to my email so we get answer if we can start themes.jekyllrb.com or not (create another one)

[2015-06-02 20:40] jacobtomlinson commented on #118
@parkr yeah I've tried multiple times through GitHub, Twitter and email.

[2015-06-16 00:15] #34 closed

[2015-06-16 05:17] mattvh commented on #118
Sorry I've been so out of contact lately. I was busy, then sick for three weeks. I'll try to get things merged back up soon.

[2015-06-16 05:55] #108 closed

[2015-06-16 06:16] mattvh commented on #118
Ok done.

[2015-06-16 06:16] #118 closed

[2015-06-16 06:16] jacobtomlinson commented on #118
@mattvh great to see you're back! Hope you're feeling better.

It would be great if this could be avoided in future, I notice that it isn't the first time that PRs have been left for a few months. Would you consider letting someone else help you out?

[2015-06-18 11:46] jacobtomlinson commented on #118
?

[2015-07-06 04:27] nmenag opened #135 "Template swift without demo"
It has a broken link http://pranav.maangalabs.com/

[2015-07-06 13:54] gynter commented on #104
I propose the sorting features by date and alphabetically from ascending to descending and vice versa.

The filtering imho is a bit of harder to do - Yes, it can be done by using tags, but what exactly are those tags going to be so the filters won't get to noisy? Something like *one-page*, *dark*, *light*, *sidebar*, *fixed-navigation* etc?

[2015-07-07 07:50] jacobtomlinson commented on #104
I agree about the filters. Really it would be up to the moderator/owner to manage the tags to keep things simple, so there would have to be buy in from him.

[2015-07-10 18:33] nmenag commented on #104
sort by categories

[2015-07-10 18:34] nmenag opened #137 "Install jekyll-compose gem"
View gem https://github.com/jekyll/jekyll-compose

[2015-07-10 18:45] jacobtomlinson commented on #137
Is this a request?

[2015-07-10 18:53] nmenag commented on #137
yes, but Is this helpful for the project?

[2015-07-10 18:57] jacobtomlinson commented on #137
I think this project assumes that people have `jekyll` installed globally. It doesn't actually have a `Gemfile`. In which case it should probably be left for people to install `jekyll-compose` globally.

[2015-07-10 19:00] nmenag opened #138 "Valid theme before of integrate"
it would be nice valid in  theme in Jekyll, can be by travis [Continuous integration](http://jekyllrb.com/docs/continuous-integration/)

[2015-07-10 19:01] nmenag commented on #65
resolve #135

[2015-07-11 07:36] gynter opened #139 "HPSTR Version 2 screenshots are outdated"
The screenshots for HPSTR Version 2 are not the same as the demo.

[2015-07-11 07:42] gynter opened #140 "One Page Wonder is missing link to license"
The license is MIT and is located in the sources: <https://github.com/mushishi78/one-page-wonder-jekyll/blob/gh-pages/LICENSE.txt>

[2015-07-11 07:44] gynter opened #141 "DevAid download is broken"
From the sources the correct one should be <https://github.com/kevit/devaid-jekyll-theme/archive/master.zip>?

[2015-07-11 07:48] gynter opened #142 "Metaphor screenshot has wrong aspect ratio"
The image height is stretched.

[2015-07-11 07:50] gynter opened #143 "Rifyll screenshot has wrong aspect ratio"
The image height is stretched.

[2015-07-11 07:54] gynter opened #144 "Type Theme download link is the link to repository"
Since other themes have download link to the archive maybe this should also have it as <https://github.com/rohanchandra/type-theme/archive/master.zip>?

[2015-07-11 07:58] gynter opened #145 "Minimal-block is missing demo page"
One solution for this would be creating demo pages from sources automatically into this repository when accepting PRs, then there won't be any missing demos. This would also mean that the demos will always correspond to the current sources (when the PR was made), not to newer or older version of the theme.

[2015-07-11 08:00] gynter opened #146 "Uno-dbyll screenshot aspect ratio is wrong"
Screenshot is stretched.

[2015-07-11 08:02] gynter opened #147 "OpenTheme link in list is broken"
Correct would be <http://jekyllthemes.org/themes/opentheme%20copy/>

[2015-07-13 12:53] anandubajith opened #149 "Redesign the site"
The site's design is outdated.
can we just redeisgn the site.

[2015-07-13 13:10] gynter commented on #149
Hello! In my opinion current layout is easy to read and does not contain any fancy-pancy things which would only make the content harder to process. It does exactly what it's ment to do, list the available themes :smile: .

[2015-07-15 04:11] nmenag commented on #137
you must create a `Gemfile` file  with this structure:

[code]

[2015-07-15 06:51] gynter commented on #137
@nmenag why is this gem needed?

[2015-07-15 07:30] jacobtomlinson commented on #137
I think this gem is to help authoring. However as it is probably more of a personal preference and this repo is authored by many people it shouldn't be added.

[2015-07-15 14:54] geraldb commented on #147
@gynter  I invite you to flag the error at the new alternative Dr. Jekyll's Themes site.  All themes are listed in the [themes.yml](https://github.com/drjekyllthemes/drjekyllthemes.github.io/blob/master/_data/themes.yml) datafile. Any help appreciated. Cheersl

[2015-07-15 14:56] geraldb commented on #141
@gynter  I invite you (agian) to flag the errors at the new alternative Dr. Jekyll's Themes site.  All themes are listed in the [themes.yml](https://github.com/drjekyllthemes/drjekyllthemes.github.io/blob/master/_data/themes.yml) datafile. Any help appreciated. Cheers.

[2015-07-15 15:57] gynter opened #151 "Left is missing demo"
No demo avail for that theme.

[2015-07-15 16:06] gynter opened #152 "Slate is missing demo"

[2015-07-15 16:29] gynter opened #153 "Lagom demo missing"

[2015-07-15 16:41] gynter opened #154 "Vanilla Bean Creme and Green Tea licenses missing"
Probably need to contact with author for license.

[2015-07-15 16:49] #151 closed

[2015-07-15 17:17] gynter opened #155 "HMFAYSAL and HMFAYSAL V2 Theme demo missing"

[2015-07-15 17:24] gynter opened #156 "Simply Grey demo missing"

[2015-07-15 17:29] gynter opened #157 "Herring Cove demo broken"

[2015-07-15 17:51] gynter opened #158 "Thinny demo missing"

[2015-07-15 18:13] gynter opened #159 "Gereksiz demo missing"

[2015-07-15 18:48] gynter opened #160 "block-log demo and license file missing"
Probably should contact with author for license.

[2015-07-15 19:11] gynter opened #161 "HMFAYSAL Notepad Theme broken license link"
Probably should try to contact with author.

[2015-07-15 19:29] gynter opened #162 "Travelog demo missing"

[2015-07-15 19:39] gynter commented on #147
@geraldb Thank You for the invite, but I have already a lot of (still uncommited) changes to this repository which I will throw to the PR. Currently I have reviewed over 50% of the themes.

[2015-07-15 19:53] gynter opened #163 "Solid license file missing"

[2015-07-15 20:10] #160 closed

[2015-07-15 20:11] #161 closed

[2015-07-15 20:12] #163 closed

[2015-07-15 22:01] geraldb commented on #147
@gynter  - It's up-to-you of course. Good look. Just a friendly reminder that the new "system" in the new repo is way easier - all themes are listed in a single plain text themes.yml file. Ironic, isn't it? Cheers.

[2015-07-16 03:41] nmenag commented on #137
Ok, then close issue.

[2015-07-16 03:41] #137 closed

[2015-07-16 14:31] #139 closed

[2015-07-16 14:31] #140 closed

[2015-07-16 14:32] #141 closed

[2015-07-16 14:32] #142 closed

[2015-07-16 14:32] #143 closed

[2015-07-16 14:32] #144 closed

[2015-07-16 14:32] #147 closed

[2015-07-16 14:33] #146 closed

[2015-07-16 14:36] gynter opened #164 "architect demo missing"

[2015-07-16 14:37] gynter opened #165 "block-log demo missing"

[2015-07-16 14:46] gynter opened #166 "Jekyll Masonry license missing"
Probably should contact with author. Frontmatter says `See GitHub Page`, but there is no license in Github.

[2015-07-16 14:52] #145 closed

[2015-07-18 10:01] mondss commented on #156
I'll fix this some time over the weekend and host a new copy as well as updating any licensing files.

[2015-08-10 18:36] claman opened #178 "Add tags or search functionality"
As it is, the only way to discover themes via the site is to scroll through all of the pages. Another layer of organization via tags would be nice, and maybe the ability to search for them.

[2015-08-10 20:24] gynter commented on #178
Duplicate of  #104.

[2015-08-10 21:50] claman commented on #178
OK.

[2015-08-10 21:50] #178 closed

[2015-08-20 05:08] #135 closed

[2015-08-20 05:30] #153 closed

[2015-08-20 09:52] gynter commented on #165
Fixed by  #168.

[2015-08-20 09:52] #165 closed

[2015-08-20 12:07] gynter commented on #65
The downloads for those have been fixed. Only demo is missing for HMFAYSAL, and it's referred in #155. Please close the issue.

[2015-09-05 11:47] erlend-sh commented on #118
@mattvh available again these days? Please add @jacobtomlinson , @ariestiyansyah and @gynter as contributors.

[2015-09-05 18:01] gynter commented on #118
No clue, haven't had any contact from him.

[2015-09-05 18:15] gynter opened #188 "Hosting, building, and contributing"
@mattvh You mentioned that You'd need to fix the building scripts to add me as contributor to this project. Is there any paticular reason You are self hosting jekyllthemes.org instead of using Github pages?

[2015-09-05 18:48] jacobtomlinson commented on #118
This happens regularly, @mattvh only checks this repo every couple of months. It's a shame because I think this project would be even better if it was maintained properly. @gynter has done some excellent work on it and greatly improved it, and yet even he hasn't been made a contributor with merge permissions.

@geraldb has started a competing project called [Dr Jekyll's Themes](https://drjekyllthe

[2015-09-05 19:05] geraldb commented on #118
Hello, FYI: Dr Jekyll's Themes is NOT competing. It's just another alternative. (it's different e.g. includes a theme package manager and a script wizard etc. and some more). The site is a "pure" GitHub Pages (Jekyll) site. To make it easier to contribute it uses a gitsubmodule for /themes   All code incl. "the build (pre-processing) step" (see the /build repo) is open and public domain. Cheers. P

[2015-09-05 19:53] jacobtomlinson commented on #118
Great thanks for the clarification. I was referring to the fact that it requires a build script and that you can't fork the repo and have it would just work with GitHub Pages without some extra configuration and creation/maintaining of build servers.

We (@ariestiyansyah and I) already tried forking the repo but a few days after we did @mattvh came back, merged everything on here and assured us he

[2015-09-05 21:45] erlend-sh commented on #118
One problem is that in this case themes.jekyllrb.com will compete with jekyllthemes.org for Google ranking, and there will be Yet Another Themes Site on the web competing for users' attention. Right now, jekyllthemes.org is very established. It would be much better if it could be continuously maintained by a group of Jekyll contributors for a while, and *then* be migrated (and redirect to) themes.

[2015-09-05 21:57] gynter commented on #118
I agree with @erlend-sh, another fork would just bring up more confusion.

@jacobtomlinson I don't see why the page couldn't be built via Github pages. It seems to be work fine when testing with `jekyll serve` on 2.4.0. I created a separate issue about that: #188.

[2015-09-06 07:49] jacobtomlinson commented on #118
@gynter I was talking about Dr Jekyll's Themes not this one :smile:.

And yes I agree with @erlend-sh.

[2015-09-06 08:24] geraldb commented on #118
Just one more time: Be bold, stop talking and complaining. Show us how to to do it. Lead by example and action. Do NOT worry about the google ranking. If you work hard the new directory will rise up. It's that easy ;-)  There's no confusion. Let's welcome and celebrate more theme directories. PS: If you use a public domain "un-license"  it's easy to keep the yaml listing in sync, for example and s

[2015-09-06 20:48] mushishi78 commented on #118
I made a fork: [themes-jekyll.github.io](http://themes-jekyll.github.io/)

I re-wrote the site from scratch with the following changes:

* Uses `jekyll-sitemap` and `jekyll-feed`.
* Uses jekyll compiled sass, rather than pre-compiling less
* Compressed HTML layout
* Removed extraneous images and bootstrap assets
* Slightly smoother responsive breakpoints
* More semantic markup, less style classes

[2015-09-06 21:55] erlend-sh commented on #118
Okay, that's a pretty convincing argument there @mushishi78 , nice work! :clap:

I could get on board with supporting that fork. Like you said, it can always be merged back in, which would ideally coincide with the addition of some new contributors.

[2015-09-06 23:27] mushishi78 commented on #118
@erlend-sh @jacobtomlinson @gynter @ariestiyansyah I've presumptuously given you guys write access, if you don't want to be involved, feel free to ignore it.

I've also added an experimental preview demos page, that can be removed if no-one wants likes it.

[2015-09-07 07:00] geraldb commented on #118
@mushishi78  Great initiative. Keep it up. Will try to promote the new theme directory e.g. [first tweet here](https://twitter.com/viennahtml/status/640780859646328832). Cheers.

[2015-09-07 11:53] mushishi78 commented on #118
For anyone on this thread whose interested, the new fork has been moved to [jekyllrc/jekyllthemes](https://github.com/jekyllrc/jekyllthemes) as @gynter wanted to have an umbrella organisation to manage other jekyll projects that might need forking.

Thanks @geraldb for your promotion :)

[2015-09-07 15:41] ariestiyansyah commented on #118
Cool, let's do the best!

On Mon, Sep 7, 2015 at 6:53 PM, Max White <notifications@github.com> wrote:

--
*Rizky Ariestiyansyah*
Business Consultant
Enterprise Solution and Mobile Development
Personal Website: http://oonlab.com/about/
Phone : +6287804020496 | Time zone: GMT+7

[2015-10-16 17:41] Richardphp opened #201 "hi,I'm here"
Just leave a message.

[2015-10-16 17:50] mushishi78 commented on #201
Hey Richard.

[2015-10-16 17:57] Richardphp commented on #201
hi,how are you. where are you? This is in Guanghzhou ,China.

[2015-10-16 18:01] mushishi78 commented on #201
I'm alright. I'm in Brockenhurst, UK.

I'm not sure the maintainer of this project will appreciate chit chat on this thread.

[2015-10-16 18:11] Richardphp commented on #201
haha,I don't know.I just have a try using this.

[2015-10-20 02:44] #201 closed

[2015-10-20 02:54] mattvh commented on #188
I've got that taken care of the build script issue for now. (It was a minor issue with permissions that arose after some changes.) I use my own server primarily for two reasons: 1. It keeps the door open to use Jekyll plugins if needed, which GitHub doesn't allow. 2. While I like GitHub, I don't want to be tied to it for any of my projects. Git is, after all, meant to be distributed, and I'd like

[2015-10-20 02:54] #188 closed

[2015-10-20 02:58] mattvh commented on #149
100% in agreement with @gynter. The site does what it's meant to, looks decent, and doesn't need to follow whatever the latest trend-of-the-month is.

[2015-10-20 02:58] #149 closed

[2015-10-23 05:48] nmenag opened #204 "Implement search of themes"

[2015-11-12 22:49] HUDevelopmentClub opened #212 "Template or Theme"
I am new to jekyll and was wondering if these are templates or installable themes?

[2015-11-12 23:54] gynter commented on #212
Welcome to the Jekyll world! :)

Jekyll hasn't got any templating/theming system, those are basically fully working page layouts. Some of those also have some example content. To install any of those You should extract the contents of the archive to the root directory of Your Jekyll page. Be aware with overwriting thou, since sometimes example content could overwrite already Your existing content.

[2015-11-12 23:54] #212 closed

[2015-12-18 00:03] nandomoreirame commented on #204
:+1:

[2016-01-04 15:52] nandomoreirame commented on #204
@mattvh I can do it if they want.

[2016-01-09 02:02] tylercubell opened #240 "Letter to Matt"
Let me know where you stand. I think there's a lot of advantages on your end for the subject I brought up. Email is in my profile.

[2016-01-09 09:20] gynter commented on #240
What subject exactly?

[2016-01-09 09:21] #152 closed

[2016-01-09 09:21] #154 closed

[2016-01-09 09:21] #155 closed

[2016-01-09 09:21] #156 closed

[2016-01-09 09:21] #157 closed

[2016-01-09 09:21] #158 closed

[2016-01-09 09:21] #159 closed

[2016-01-09 09:21] #162 closed

[2016-01-09 09:21] #164 closed

[2016-01-09 09:21] #166 closed

[2016-01-09 09:21] #65 closed

[2016-01-09 17:00] tylercubell commented on #240
I'd rather discuss via email if that's alright.

[2016-01-09 17:52] gynter commented on #240
Okay, then please send him an e-mail.

[2016-01-09 17:52] #240 closed

[2016-01-11 04:24] nmenag commented on #204
@nandomoreirame  That would be great!

[2016-01-11 06:28] gynter commented on #204
This is a duplicate of #104.

[2016-01-11 06:28] #204 closed

[2016-01-11 06:31] gynter commented on #104
@nandomoreirame I'd be happy if You could contribute by making the sorting and filtering feature (You mentioned it in #204). My proposal is still the same as above:

[2016-01-16 20:02] nandomoreirame opened #252 "Add Gemfile"
Add Gemfile to fix Ruby and Jekyll installation version...

[2016-01-16 20:07] nandomoreirame commented on #104
Hey guys!
I can propose a new layout?

Tks

[2016-01-16 22:16] nandomoreirame commented on #104
### Home
![jekyllthemes-home](https://cloud.githubusercontent.com/assets/1318271/12374727/34f91064-bc8c-11e5-93e7-eec17dcfd890.png)

### All themes
![jekyllthemes-all](https://cloud.githubusercontent.com/assets/1318271/12374777/f72f9ad0-bc8d-11e5-8eee-aaa13fa5e939.png)

[2016-01-16 22:23] nandomoreirame commented on #104
### I can do:

* [x] Search Themes
* [x] Order by date and title
* [x] Filter by Category
* [x] Filter by Tag
* [x] Filter by Author

:metal:

[2016-01-18 12:37] nandomoreirame commented on #104
@gynter and @mattvh :smiley:

[2016-01-18 18:21] gynter commented on #104
Since I'm not the lead for the project I'm not authorized to make huge changes in the repository (changing the layout is considered a major change). We have to wait @mattvh approval for this.

[2016-02-04 18:22] gynter commented on #252
PRs are welcome :smile: I'll look into it if I get a bit of free time.

[2016-02-23 20:28] gynter opened #278 "Illegally formed thumbnails"
[ ] Busterni Jekyll theme
[ ] Stylish Portfolio
[ ] Book

[2016-03-07 15:51] evertonl1ma opened #284 "Problems boot server"
The theme is in trouble when it starts, and ends up not being initialized. By indicating the error is in .sass files

[2016-03-07 19:38] gynter commented on #284
@evertonl1ma Didn't understand You correctly, please elaborate.

[2016-03-08 09:39] PanosSakkos opened #285 "https://jekyllthemes.org/ is broken"
Hi!

If I remember correctly jekyllthemes.org/ was supporting https.

Am I remembering wrong?

Thanks!
:panos

[2016-03-16 18:34] evertonl1ma commented on #284
I can not climb the server.
You can not use, it is full of problems.

[2016-03-19 20:57] gynter commented on #285
Hmm, afaik not. But I'm not 100% sure :P

[2016-03-19 20:58] gynter commented on #284
I still cannot understand what You exactly mean.

[2016-04-19 20:53] #285 closed

[2016-04-19 20:53] #284 closed

[2016-06-13 05:27] sharu725 opened #346 "Thunder heme not showing up"
Hi, Looks like the commits are merged but thunder theme isn't showing up on the list.

[2016-06-13 15:12] gynter commented on #346
I'll try to review all new themes this week.

[2016-06-23 03:59] sharu725 commented on #346
Any update?

[2016-06-26 13:01] gynter commented on #346
Sorry, I was ill. I'll try to check it asap.

[2016-06-28 05:20] sharu725 commented on #346
No problem @gynter . I found it on the 11th page. Thanks for the merge. But not sure why it went to the 11th page. I was hoping the posts are arranged date wise.

[2016-06-28 17:04] nandomoreirame commented on #252
@gynter look this PR #348 ;)

[2016-08-31 03:31] mnichangxin opened #365 "Why there is no response"
Hello, I submitted a theme, but there has been no response, I hope you can reply, thank you!

[2016-09-01 06:52] nikrich commented on #365
@mnichangxin  The first time I submitted a theme it took a day or so to get merged, now I've been waiting for almost a month..

[2016-09-01 10:59] gynter commented on #365
I am truly sorry about the hold up. It has been crazy busy summer for me and nearly all of my development projects are on hold. I'll try to look trough all PRs in next 5 days.

[2016-09-01 11:00] nikrich commented on #365
@gynter No problem. Thank you for the response

[2016-09-06 13:43] gynter commented on #365
And yet again I failed to deliver. Hopefully weekend brings better news. I'm really sorry!

[2016-09-08 13:42] dkbm commented on #365
No worries - we appreciate your work for the community!

[2016-09-18 11:50] #365 closed

[2016-09-18 12:35] gynter commented on #365
Okay, should be better now. Merged bunch of PRs ;)

[2016-09-19 11:13] nikrich commented on #365
@gynter Thaaanks! :)

[2016-09-20 11:27] nandomoreirame opened #381 "@mattvh is dead?"
@mattvh is dead?

[2016-09-23 04:07] gynter commented on #381
No clue. He is not really active with this project, thats why he added me as collaborator.

[2016-09-23 04:09] #381 closed

[2016-10-02 16:26] #346 closed

[2016-10-02 17:03] gynter commented on #346
If it went to wrong page then please see if the date in filename and in front matter are correct.

[2016-10-11 14:42] jiehu567 commented on #252
Hi, I got this error when using: jekyll server
Dependency Error: Yikes! It looks like you don't have jekyll-paginate or one of its dependencies installed. In order to use Jekyll as currently configured, you'll need to install this gem. The full error message from Ruby is: 'cannot load such file -- jekyll-paginate' If you run into trouble, you can find helpful resources at http://jekyllrb.com/help/

[2016-10-11 14:43] jiehu567 opened #395 "jekyll server Dependency Error"
Hi, I got this error when using: jekyll server
Dependency Error: Yikes! It looks like you don't have jekyll-paginate or one of its dependencies installed. In order to use Jekyll as currently configured, you'll need to install this gem. The full error message from Ruby is: 'cannot load such file -- jekyll-paginate' If you run into trouble, you can find helpful resources at http://jekyllrb.com/help/

[2016-10-11 16:28] gynter commented on #395
Are You trying to build `jekyllthemes` locally? `jekyllthemes` currently supports only Jekyll 2.x.

[2016-10-11 16:39] jiehu567 commented on #395
Tnx a lot!
It's working!
I gonna use jekyll 2.0.

[2016-10-11 19:31] gynter commented on #395
Good You got it working. I'm going to try talk with @mattvh about it, so maybe he could upgrade `jekyllthemes` to 3.x.

[2016-10-12 13:01] jiehu567 commented on #395
That's great! Because on github pages website, most newbies like me will just do:
gem install jekyll
and install latest version.

Thanks a lot for your contribution!

[2016-12-26 00:47] #252 closed

[2017-01-24 15:51] iBobik commented on #104
Proposed filters:
- usage: blog, CV, product presentation, commerce, portfolio, gallery, …
- features: responzive, animations, fluid, form elements, parallax, BEM, SMACSS, …
- libraries/tools used: Bootstrap, Zurb, PostCSS, LESS, SASS

It is good to consider how to motivate or enforce theme authors to fill it. Maybe tests, so it will be visible in pull request if something is not filled?

Also big

[2017-03-03 18:00] hugocarreira opened #444 "URL Error file"
https://github.com/mattvh/jekyllthemes/blob/master/_posts/2016-11-27

[2017-03-04 22:30] mattvh commented on #444
Fixed. Thanks for reporting.

[2017-03-04 22:30] #444 closed

[2017-04-04 15:50] panxw opened #462 "Is there nobody maintain this repository?"
PRs are not merged from a month ago!

[2017-04-16 22:07] dikiaap commented on #462
the owner is not active and there's @gynter as collaborator, but idk.

[2017-04-28 05:40] mattvh commented on #462
We're working on it. I've been a little bit more absent lately than I'd like due to work and stuff, but have already knocked a few merges.

I would be open to adding another collaborator if need be, if @gynter has anyone in mind who stands out.

[2017-04-28 21:50] scottgallant opened #470 "Advertisement"
I'm wondering about advertising our Jekyll CMS (https://forestry.io) on jekyllthemes.org. @mattvh, let me know if you're open to that. If so, you can email me at scott@forestry.io.

[2017-06-18 16:36] geraldb commented on #462
@panxw  I'd say why not try alternatives such as Dr. Jekyll's -> http://drjekyllthemes.github.io  that are kept up-to-date (incl. more new themes too ;-) e.g. all the lastest pages themes from GitHub etc.) Cheers.

[2017-06-20 02:51] panxw commented on #462
@geraldb you are right,  I will move it.

[2017-06-21 19:51] ZeevoX opened #493 "HCZ Jekyll Material"
[HCZ Jekyll Material Theme](http://jekyllthemes.org/themes/hcz-jekyll-material/) does not have a working live demo.

[2017-06-25 12:08] daviddarnes opened #494 "Missing Garth theme from site"
Back in May I submitted pull #454, which was later merged. However I can't see the result on the site? Is there a certain order to how themes are added? Doing a site wide search using Google doesn't return anything for Garth (the theme I submitted) https://www.google.co.uk/search?q=site%3Ajekyllthemes.org+garth&oq=site%3Ajekyllthemes.org+garth&aqs=chrome..69i57j69i58.4708j0j4&sourceid=chrome&ie=UT

[2017-07-12 08:23] RioSatria commented on #494
The reason your theme doesn't show is because the GitHub Pages fail to built.

I've done two little fixes to ensure that the site are building on my machine:
https://github.com/mattvh/jekyllthemes/pull/498
https://github.com/mattvh/jekyllthemes/pull/497

[2017-07-12 08:28] RioSatria commented on #493
The master file have working demo, as you can see from this file
https://github.com/mattvh/jekyllthemes/blob/master/_posts/2016-06-05-hcz-jekyll-material.markdown

The reason why the link won't work because the site fail to built.
For more info see: https://github.com/mattvh/jekyllthemes/issues/494#issuecomment-314692125

[2017-07-12 08:30] daviddarnes commented on #494
Awesome thanks @RioSatria do I need to make any new PRs for this? Or will it be fixed once these changes are made and built?

[2017-07-12 08:36] RioSatria commented on #494
No, you don't have to do anything.
We just need to wait for my fixes to be merged.

[2017-07-19 15:40] jarrekk commented on #494
Hi, since we haven't seen this repository's owner for a very long time, I forked it to my [repo](https://github.com/jarrekk/jekyll-theme) and built this website with a new **domain name**:
 <http://jekylltheme.org>.

Anyone's theme who submitted it before will still be seen at <http://jekylltheme.org> and welcome everyone to contribute this website if you have nice themes.

Later I will beautify t

[2017-07-19 15:40] jarrekk opened #502 "Repository was migrated to new place"
Hi, since we haven't seen this repository's owner for a very long time, I forked it to my [repo](https://github.com/jarrekk/jekyll-theme) and built this website with a new **domain name**:
 <http://jekylltheme.org>.

Anyone's theme who submitted it before will still be seen at <http://jekylltheme.org> and welcome everyone to contribute this website if you have nice themes.

Later I will beautify t

[2017-07-19 15:41] jarrekk commented on #462
Hi, since we haven't seen this repository's owner for a very long time, I forked it to my [repo](https://github.com/jarrekk/jekyll-theme) and built this website with a new **domain name**:
 <http://jekylltheme.org>.

Anyone's theme who submitted it before will still be seen at <http://jekylltheme.org> and welcome everyone to contribute this website if you have nice themes.

Later I will beautify t

[2017-07-19 16:45] jarrekk commented on #493
Hi, since we haven't seen this repository's owner for a very long time, I forked it to my [repo](https://github.com/jarrekk/jekyll-theme) and built this website with a new **domain name**:
 <http://jekylltheme.org>.

Anyone's theme who submitted it before will still be seen at <http://jekylltheme.org> and welcome everyone to contribute this website if you have nice themes.

Later I will beautify t

[2017-07-19 16:46] jarrekk commented on #493
Hi, since we haven't seen this repository's owner for a very long time, I forked it to my [repo](https://github.com/jarrekk/jekyll-theme) and built this website with a new **domain name**:
 <http://jekylltheme.org>.

Anyone's theme who submitted it before will still be seen at <http://jekylltheme.org> and welcome everyone to contribute this website if you have nice themes.

Later I will beautify t

[2017-07-19 16:47] daviddarnes commented on #494
@jarrekk could you at least apply the fixes from this repo? In this case Garth still isn't visible http://jekylltheme.org/themes/garth/

[2017-07-19 16:52] jarrekk commented on #494
@daviddarnes I looked up theme **garth** in this [repo](https://github.com/jarrekk/jekyll-theme) but couldn't find it, maybe this theme wasn't merged into this repo, I think you should try to make a new PR to new [repo](https://github.com/jarrekk/jekyll-theme), thanks.

[2017-07-19 16:57] daviddarnes commented on #494
@jarrekk I thought your repo was a fork? the theme is here in this repo https://github.com/mattvh/jekyllthemes/blob/master/_posts/2017-03-28-garth.markdown

[2017-07-19 17:05] jarrekk commented on #494
@daviddarnes Sorry, my repo was several commits behind mattvh's, now new themes including your theme **Garth** are displaying at <http://jekylltheme.org>, thanks:)

[2017-07-24 15:07] InsidiousMind commented on #502
Awesome! Was wondering what happened to this site. Sucks that the owner is gone, but hopefully this new site will gain traction quick! :-)

[2017-07-24 18:17] mattvh commented on #502
I'm still around, just dealing with some personal issues lately. And I'd much rather add additional contributors than encourage fragmentation.

[2017-07-24 18:17] #462 closed

[2017-07-25 00:05] jarrekk commented on #502
@mattvh If possible, please add me to this repo's collaborators, many thanks :)

[2017-07-25 00:46] InsidiousMind commented on #502
I'm sure there would be many (as long as they are vetted) who would step up to the plate. This way, the site remains active and ~#1 site for jekyll themes (as it is in Google right now). I believe in Jekyll and think a good theme site such as this is much needed in the community

I wouldn't mind helping out here and there, but of course the decision is up to you @mattvh

[2017-07-25 01:42] emory commented on #502
As a largely innocent bystander I've always felt like the website and repo
needed help in order to benefit the users of jekyll as best as possible. I
can certainly appreciate pressing personal matters occupying all available
bandwidth (I've had my share lately) and I'm not in favor of a new website
and the fragmentation @mattvh refers to. I'd like to see a clear commitment
to keeping this reposito

[2017-07-25 09:11] jarrekk commented on #502
I have an advice: @mattvh you can create an organization for jekyll theme then transfer this repo's owner to new organization, you can recruit some developers to contribute this repo, but we need some preparation maybe as the following link: <https://opensource.guide/> :)
Thanks.

[2017-07-27 00:42] mattvh commented on #502
I'm going to try and set aside some time to add a new batch of contributors in the near future. @InsidiousMind, @emory, @jarrekk since you all seem keen on volunteering I'll be considering you.

It's pretty simple overall. Basically, PRs need to be reviewed to ensure that the thumbnail is correctly sized (exact dimensions) and the links are good. Some editorial leeway can be had in the theme listi

[2017-07-27 15:09] junlulocky commented on #502
@mattvh  Thanks a lot for your answer. If possible, please also add me to the contributor list. I am currently help @jarrekk maintaining his site. I am eager to also continue to maintain this one.

[2017-08-02 21:59] mattvh commented on #502
Okay, I've added everyone mentioned in my previous post (plus @junlulocky) as collaborators to the repository, on a probationary basis for now. I already mentioned more or less how the process works, though I recommend skimming through some PRs that were already approved or rejected to get a better feel for it. If you have any questions on a PR, feel free to tag my name in the comments and I'll tr

[2017-08-02 23:48] InsidiousMind commented on #502
Sounds good! Thanks for working with us, @mattvh

[2017-08-04 07:25] gynter commented on #502
Hello and welcome to all new collaborators!

I'm truly sorry for keeping this project unmaintained due lack of free time. I'm going to review all PRs again and make corrections if needed. All help is welcome :) Hopefully I'll have a bit of more time to deal with this project also :)

@InsidiousMind Currently I have made "periodic" review sprints. Basically I have merged all PRs (even the pending/i

[2017-08-04 07:29] gynter commented on #470
Hello! Since the site is oriented to free and open source themes the current policy has been not to link to commercial sites.

[2017-08-04 07:29] #470 closed

[2017-08-04 08:48] gynter opened #510 "Review new themes"
Review since last review at 20 Apr 2016 (#310).

[2017-08-04 13:12] scottgallant commented on #470
Hi @gynter, I see a banner on the top of the page, so it looks like you support advertising now.

Perhaps we could just sponsor the site and cover your hosting costs?  Email me at scott@forestry.io if that could work. Thanks.

[2017-08-04 14:27] #510 closed

[2017-08-04 14:56] gynter opened #514 "Contribution guidelines"
Hello!

Since we now have more collaborators I suggest us to settle on somekind contributing guidelines.

My **suggestions**:
- Use English in commit messages, branch, and tag names;
- Branch and tag names must be separated by dash `-`;
- Follow [the seven rules of a great git commit message][]:
  - Separate subject from body with a blank line;
  - Limit the subject line to 50 characters;
  - Capi

[2017-08-04 15:04] InsidiousMind commented on #502
Thanks!

@gynter  Cool! That's not that's not a bad strategy. If some people don't respond, i'll try and do that as well

[2017-08-04 15:17] InsidiousMind commented on #514
Good idea IMO. Would solidify what we the collaborators need to do, as well as make it clearer how users are to make their listing/pull request.

Also, not cluttering up the master branch with dozens of random commits and instead rebasing+squashing would make the repository easier to manage in the future.

In addition ( I don't know if this is the case currently) I believe we should require a 'rev

[2017-08-06 05:59] Liberxue opened #517 "Add Liberxue Lightweight Minimum Blog Jekyll Themes"
Automatically generate tags
Adaptive templates
automatically generates feeds. xml
Automatic JSON Search
Automatic paging
The entire blog uses only one adaptive style
The entire blog only using a JS（jquery.min.js）
Automatically rss+xml

[2017-08-10 01:40] mattvh commented on #514
I think there are some good points in there. I'm generally in favour of having some contribution guidelines. Not necessarily too strict, but strongly suggested anyway. Just some initial thoughts:

Definitely.

I'm okay with that, though I personally have a habit of naming branches like "somenewbranch," which I'd see as acceptable. I'm okay with standardising on dashes for when separators are used,

[2017-08-27 11:34] ohadschn commented on #104
Filtering/sorting by GitHub forks (not just stars) would be great as well.

[2017-09-17 10:43] junlulocky commented on #502
Hey @mattvh, since this project seems less responsive these

[2017-09-17 10:43] #502 closed

[2017-10-02 15:40] le4ker opened #531 "Timestamping policy?"
Hi,

What's your policy on the timestamp of the post?
The themes are ordered in chronological order, so the timestamp is important if you want to get on the first page 😄

Does i.e. any update of the post allow to bump the timestamp?

Thanks,
:panos

[2017-10-02 17:37] mattvh commented on #531
Date of original submission. I don't want to open the can of worms of frequent updates to increase visibility.

[2017-10-02 19:13] gynter commented on #531
To be honest. I have been wondering about removing the @Date@ from front matter for a while now to use only the date in file name. Main reason is because I have been spent plenty of time fixing the dates in front matter, because many submissions are copy-paste from older ones, but the @Date@ value sometimes gets overlooked by submitter. @mattvh what do You think?

[2017-10-02 22:06] mattvh commented on #531
If you can't see any downsides to it, it works for me. It doesn't really serve much purpose.

[2017-10-15 07:24] #517 closed

[2017-10-26 21:26] yodrew commented on #104
I would like this, too. As it is, the site is useless to me. I want to be able to search for themes that would work for my purpose structurally, then choose according to appearance. For example, I need theme to handle pages and sub pages, slide out menu. Then I would look at search results for right sidebar, dark background. Filtering by structure because floating a sidebar from left to right is e

[2018-03-04 15:57] tkovs opened #571 "Links to Jasper2"
Link to demo is not working

[2018-03-31 06:28] epicGeek opened #579 "Could you please add a feature that allows user to search theme?"
Given there are so many themes here,is it possible to allow users to search themes?

[2018-04-28 13:16] arnolds opened #585 "Is this project no longer being maintained?"
Is this project no longer being maintained? The last commit was over 30 days ago, and there are many outstanding PR's with no visible sign of progress.

I understand not everyone has the time, or that life gets in the way. But it would be a shame if this project didn't grow further, since:

- This projects website comes up first on Google when you search for "Jekyll Themes".
- Is one of the most p

[2018-05-17 07:39] geraldb commented on #585
See Dr Jekyll's Themes for a more modern (better) alternative for a collection of Jekyll themes - <http://drjekyllthemes.github.io/>.

[2018-05-30 02:36] xukimseven opened #592 "2018 no new"
Why is there no new theme on the webpage which one was added this year?

[2018-05-30 02:36] #592 closed

[2018-05-30 02:37] xukimseven opened #593 "2018 no new theme on webpage ?"
Why is there no new theme on the webpage which one was added this year?

[2018-06-09 09:40] darkskull009 opened #595 "Help"
Hello im new here so how to create new pull request

[2018-06-26 11:34] tsjensen commented on #585
@mattvh @gynter @junlulocky @InsidiousMind I can offer to take care of the 70-something current pull requests if you grant me the necessary access. I would do so responsibly.

[2018-06-26 19:45] tsjensen commented on #585
@mattvh @gynter @junlulocky @InsidiousMind I read some of the other open issues and it seems that this site does not run on GitHub Pages. So, since I don't have access to the server, it seems I should include in my offer to switch everything to GitHub Pages. The only thing is that at some point we'll have to change the DNS record, which would probably depend on @mattvh as well.

[2018-06-26 20:18] mattvh commented on #585
I definitely don't plan on moving to GitHub Pages. I'm not a huge fan of tying anything to GitHub other than being a convenient repository host.

I wasn't aware that there was such a PR backlog again. (I've been busy with work and college stuff.) I'll see if I can get around to knocking some out soon. And I'm always open to adding more contributors to process PRs.

[2018-06-27 08:44] tsjensen commented on #585
@mattvh Ok, no worries! My offer stands even without GitHub Pages.
Would you be available to do the deployment, if necessary? (It would be a bit of a let-down if I chewed through all those PRs and then stuff couldn't be deployed. 😉)

[2018-06-27 13:54] mattvh commented on #585
It's supposed to automatically do it on a web hook. I guess I'll have to look at that too when I get a chance.

[2018-07-15 10:43] kmehant opened #606 "Fork number not shown"
###  Fork number not shown
That is so good to see a huge star number but fork number is not being shown

<img width="473" alt="screen shot 2018-07-15 at 4 05 13 pm" src="https://user-images.githubusercontent.com/15800200/42733107-869df7f0-8849-11e8-96aa-734b028327f9.png">

I feel this might need a minor bug fix

[2018-07-15 12:08] kmehant commented on #606
Hey I found the bug that it is too minor

https://github.com/mattvh/jekyllthemes/blob/aeb9e146183153f873848fa645dcf6b9abfde5f6/_layouts/default.html#L97

In this particular iframe the width attribute should be changed from as the iframe is being constrained

``width = "95"`` **to** the standard ``width = "110"``

[2018-07-15 12:22] kmehant commented on #595
Hi @darkskull009 ,

Sadly you are in a wrong place for such questions.
I am sure this should help you out 👍

[How to create a pull request and many more about GitHub](https://guides.github.com/)
Please close the issue once you are done.

[2018-07-17 04:11] kmehant opened #608 "Non responsive advertisements"

[2018-08-05 23:43] artlogic commented on #585
Any updates on this? I was about to submit my theme, but with a backlog of 83 PRs, I'm wondering if it might be better to wait?

[2018-09-13 00:44] mattvh commented on #585
I restarted the webhook listener, so commits should sync back to the server now and the site will be rebuilt. Merged #607 as well, since that was bothering me.

I'm just starting my first semester of my Computer Science major, so I've been absolutely swamped (with classwork and my job now, and preparations and my job before). I am, however, always interested in more volunteers who are interested i

[2018-10-17 05:46] #606 closed

[2018-10-28 19:16] #595 closed

[2018-10-28 19:16] #593 closed

[2018-11-10 20:43] aschrijver opened #629 "Add Open Graph data to the landing page"
When sharing a link to the gallery, it is just that - a textual link.

Much better would be to add some Open Graph metadata elements to the `<head>` section, so we get an image and a description and a nice site title in the link preview when sharing on social media, or on e.g. Discourse.

[2018-11-10 20:47] aschrijver commented on #629
Oh, another thing: Github now supports Letsencrypt certificates. Go into `settings` of your repo and switch it on and you'll be running under `https` (soon Google will start blocking non-https sites, or show red warning texts in Search)

[2019-03-14 20:52] artlogic commented on #585
@mattvh Could you give us an idea of what's expected of a volunteer processing PRs for new themes? How many people other than yourself are currently processing themes?

[2019-03-15 03:02] mattvh commented on #585
@artlogic It's been awhile since I've seen a commit from anyone else, so I guess just me at the moment. Mostly it's a matter of making sure thumbnails are the exact specified dimensions, and that the commit actually works (no dead links, theme is actually available to the public, not doing anything too outlandish in the body text, whatever). I try not to pass judgement on the style aspect of submi

[2019-03-15 21:51] artlogic commented on #585
@mattvh I'd be happy to lend a hand with the PR backlog (at least as far as new themes go). I can't promise I can devote a ton of time to it, but if you are looking for someone to just check the things you listed, I don't mind knocking out a few here and there. Let me know what you think.

[2019-03-21 18:12] mattvh commented on #585
@artlogic Upon some consideration, I've given you commit access. Like I said before, the review process is pretty basic. If you look at some of the existing PRs, they pretty much get tagged and commented if they're not acceptable as per the requirements (and sometimes closed and cleaned up if there isn't a timely response). Other than that, it's just approving and merging.

[2019-04-26 07:14] tsjensen commented on #585
@artlogic Any plans?

[2019-05-29 21:19] artlogic commented on #585
@tsjensen Working on stuff now actually!

[2019-05-30 04:20] artlogic commented on #571
Fixed.

[2019-05-30 04:20] #571 closed

[2019-05-31 15:42] mattvh commented on #395
The current version of Jekyll on the server is now 3.x. I still probably need to get around to making a gemfile up.

[2019-05-31 15:46] artlogic commented on #395
I've got one I'm using locally, but was hesitant to commit it since we'd probably want the lock file that matches the server config, not my local config.

[2019-05-31 15:46] #585 closed

[2019-05-31 15:48] #494 closed

[2019-06-04 04:28] artlogic commented on #629
@aschrijver Can you provide an example of the open graph headers you'd want to add?

Also, it would be helpful if you could open a separate issue for HTTPS support. The project isn't using github pages so there's a bit more work to be done.

Thanks!

[2019-06-04 04:30] artlogic commented on #493
Demo is working fine now.

[2019-06-04 04:30] #493 closed

[2019-10-04 00:23] jamesAllanS opened #683 "spam link in theme demo"
Hi,
Just discovered the following theme's demo link ends up on a random spam site and prevents browser from going back.

http://jekyllthemes.org/themes/saigon/

[2019-10-04 20:46] mattvh commented on #683
Thanks for reporting. I found a new demo link on the GitHub page for the theme and then updated it.

[2019-10-04 20:46] #683 closed

[2019-11-08 01:27] awareness481 commented on #104
@mattvh Would you be interested in an initial implementation and see if we/you can build from there? I am interested in contributing

[2019-11-08 16:17] andrewkboyd opened #688 "Malicious / compromised site in link"
The `Demo` link for `siera` links out to what seems to be a compromised or spyware / adware site.

http://jekyllthemes.org/themes/siera/

[2020-03-25 18:56] mattvh commented on #688
Thanks for reporting. Removed demo.

[2020-03-25 18:56] #688 closed

[2020-04-07 06:17] chrisbobbe opened #708 "Looking to transfer ownership of jekyll-theme-prologue"
Please close this right away if you'd rather I not post this here, but I thought it would be good for visibility.

After two years of hoping I could fit in regular maintenance of jekyll-theme-prologue ([GitHub](https://github.com/chrisbobbe/jekyll-theme-prologue), [JekyllThemes](http://jekyllthemes.org/themes/jekyll-theme-prologue/), [RubyGems](https://rubygems.org/gems/jekyll-theme-prologue), [de

[2020-05-05 16:18] pablobacho opened #717 "Demo of HardCandy redirects me to a fake website"
Hello,

The demo site link of this theme:
http://jekyllthemes.org/themes/HardCandy-Jekyll/

Takes me to a fake website about some kind of bitcoin "opportunity".

[2020-08-02 22:14] mattvh commented on #717
Thanks. Removed the demo.

[2020-08-02 22:14] #717 closed

[2020-08-09 13:05] mareekkk opened #731 "rdiscount problems"
**UPDATE:

It's all okay now.**

Hi,

I received the following error:

`E:\sites\jekyllthemes>jekyll serve
Configuration file: E:/sites/jekyllthemes/_config.yml
            Source: E:/sites/jekyllthemes
       Destination: E:/sites/jekyllthemes/_site
 Incremental build: disabled. Enable with --incremental
      Generating...
Markdown processor: "rdiscount" is not a valid Markdown processor.

[2020-08-09 18:17] mattvh commented on #731
Not able to check at the moment, but I think we might be on Jekyll 3.x still. I'm guessing rdiscount support is deprecated in the newer one.

[2020-08-19 05:01] mareekkk commented on #731
Yeah I thought so.

[2020-08-19 05:01] #731 closed

[2022-02-17 00:10] JugglerX opened #796 "I can maintain this project"
Hi @mattvh and @gynter

I can maintain this project properly if you like. I would also do a new design for the site.

I am very actively involved with SSG/Jamstack scene. I actively maintain www.jamstackthemes.dev

Rob

[2022-10-26 10:58] zivhacker commented on #796
I vote you. @JugglerX